<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <nav class=" flex space-bw container">
        <ul>
          <li>
            <a href="/">Evénement</a>
          </li>
        </ul>
        <ul class="flex nav-menu">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="/events">Events</a>
          </li>
          <li>
            <a href="/events/form">Add Event</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero-section">
        <div class="container ">
          <h1 >
            Event Planning is <br> Hard.
          </h1>
          <p> WE CAN HELP YOU.</p>
        </div>
      </section>
      <section class="about" id="about">
        <div>
          <p>
            Evénement is a full service event management firm based in Dharamshala, Alberta that was created by pairing together our passion for business and events. We bring a fresh, unique approach to the event management industry.
            </p>
            <p>
            Our team understands that a properly executed event can be leveraged to support an organization’s strategic vision, incorporated into a company’s marketing plan,
            or used to build networks and client loyalty. 
          </p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container flex space-bw">
        <small>&copy;krystal</small>
        <nav class="nav-footer">
          <ul class="flex">
            <li>
              <a href="">Facebook</a>
            </li>
            <li>
              <a href="">Instagram</a>
            </li>
            <li>
              <a href="">Twitter</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
